application-build/api/.env
application-build/api/node_modules/
application-build/api/postgresdata/
application-build/api/.vscode/
application-build/api/tmp/uploads/
application-build/api/__tests__/coverage/
application-build/api/__tests__/database.sqlite
application-build/api/dist/
application-build/api/build/

smartbit-apps/logs
smartbit-apps/resources/libs/__pycache__/
smartbit-apps/resources/libs/Database.py
smartbit-apps/tests/temp.html
smartbit-apps/resources/libs/__pycache__/Account.cpython-310.pyc
smartbit-apps/tests/temp2.html
smartbit-apps/tests/temp3.html
application-build/docker-compose.yaml
smartbit-apps/mobile/node_modules/
smartbit-apps/mobile/logs/
smartbit-apps/libs/__pycache__/
smartbit-apps/services/logs/
smartbit-apps/libs/__pycache__/Database.cpython-310.pyc
smartbit-apps/web/logs/
smartbit-apps/libs/__pycache__/Account.cpython-310.pyc
